<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EventGenerators" type="Microsoft.Azure.IoT.Agent.Core.Configuration.ConfigurationSectionHandlers.EventGeneratorsConfigurationSection, Agent.Core" />
    <section name="General" type="System.Configuration.NameValueSectionHandler" />
    <section name="ExternalInterface" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <General configSource="General.config" />
  <ExternalInterface configSource="ExternalInterfaceTemplate.config" />
  <EventGenerators>
    <!-- 
          Add custom event generators here.
          
          Example:
          <add Name="WidgetFactory.WidgetEventGenerator" Dll="WidgetFactory.dll" />
    -->
  </EventGenerators>
  <appSettings>
  </appSettings>
</configuration>