<ExternalInterface>
  <add key="facadeType"  value="Microsoft.Azure.Security.IoT.Agent.Common.SecurityIoTHubInterface, Security.Common" />
  <add key="transportType" value="Amqp"/>
  <add key="RemoteConfigurationObject" value="ms_iotn:urn_azureiot_Security_SecurityAgentConfiguration"/>
</ExternalInterface>