<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EventGenerators" type="Microsoft.Azure.IoT.Agent.Core.Configuration.ConfigurationSectionHandlers.EventGeneratorsConfigurationSection, Agent.Core" />
    <section name="Authentication" type="System.Configuration.NameValueSectionHandler" />
    <section name="General" type="System.Configuration.NameValueSectionHandler" />
    <section name="ExternalInterface" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Authentication configSource="Authentication.config" />
  <General configSource="General.config" />
  <ExternalInterface configSource="SecurityIotInterface.config" />
  <EventGenerators>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.InboundConnEventGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.OutboundConnEventGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.NetstatEventGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.UserLoginEventGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.LocalUsersSnapshotGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.ProcessCreationEventGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.SystemInfoEventGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.BaselineEventGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Linux.FirewallConfigurationSnapshotGenerator" Dll="Security.EventGenerators.Linux.dll"/>
    <add Name="Microsoft.Azure.IoT.Agent.Core.EventGeneration.DiagnosticEventGenerator" Dll="Agent.Core.dll" />
    <add Name="Microsoft.Azure.IoT.Agent.Core.EventGeneration.AgentTelemetryEventGenerator" Dll="Agent.Core.dll" />
    <add Name="Microsoft.Azure.IoT.Agent.Core.EventGeneration.AgentConfigurationErrorEventGenerator" Dll="Agent.Core.dll" />
  </EventGenerators>
  <appSettings>
  </appSettings>
</configuration>