<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EventGenerators" type="Microsoft.Azure.IoT.Agent.Core.Configuration.ConfigurationSectionHandlers.EventGeneratorsConfigurationSection, Agent.Core" />
    <section name="Authentication" type="System.Configuration.NameValueSectionHandler" />
    <section name="General" type="System.Configuration.NameValueSectionHandler" />
    <section name="ExternalInterface" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Authentication configSource="Authentication.config" />
  <General configSource="General.config" />
  <ExternalInterface configSource="SecurityIotInterface.config" />
  <EventGenerators>
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.WindowsSystemInformationEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.AggregatedProcessCreateEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.AggregateProcessTerminateEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.ListeningPortsEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.LocalusersEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.LoginEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.FirewallConfigurationEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.Security.IoT.Agent.EventGenerators.Windows.AggregatedConnectionCreateEventGenerator" Dll="Security.EventGenerators.Windows.dll" />
    <add Name="Microsoft.Azure.IoT.Agent.Core.EventGeneration.DiagnosticEventGenerator" Dll="Agent.Core.dll" />
    <add Name="Microsoft.Azure.IoT.Agent.Core.EventGeneration.AgentTelemetryEventGenerator" Dll="Agent.Core.dll" />
    <add Name="Microsoft.Azure.IoT.Agent.Core.EventGeneration.AgentConfigurationErrorEventGenerator" Dll="Agent.Core.dll" />
  </EventGenerators>
  <appSettings> 
  </appSettings>
</configuration>