<?xml version="1.0" encoding="utf-8"?>
<Authentication>
  <add key="moduleName" value=""/>
  <add key="deviceId" value=""/>
  <add key="gatewayHostname" value=""/>
  <add key="filePath" value=""/>
  <add key="type" value="" />                     <!-- SymmetricKey, SelfSignedCertificate-->
  <add key="identity" value="" />                 <!-- Device, Module, DPS -->
  <add key="certificateLocationKind" value="" />  <!-- LocalFile, Store -->
  <add key="idScope" value=""/>
  <add key="registrationId" value=""/>
</Authentication>