<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EventGenerators" type="Microsoft.Azure.IoT.Agent.Core.Configuration.ConfigurationSectionHandlers.EventGeneratorsConfigurationSection, Agent.Core"/>
    <section name="Authentication" type="System.Configuration.NameValueSectionHandler" />
    <section name="General" type="System.Configuration.NameValueSectionHandler" />
    <section name="ExternalInterface" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Authentication configSource="AuthenticationForTests.config" />
  <General>
    <add key="moduleName" value="FakeModule"/>
    <add key="agentId" value="ea05af2d-7397-4a1b-9ec7-3dc15e762a69"/>
    <add key="agentVersion" value="0.0.1"/>
    <add key="readRemoteConfigurationTimeout" value="00:00:30"/>
    <add key="schedulerInterval" value="00:00:01"/>
    <add key="producerInterval" value="00:00:01"/>
    <add key="consumerInterval" value="00:00:01"/>
    <add key="highPriorityQueueSizePercentage" value="0.5"/>
    <add key="logLevel" value="Off"/>
    <add key="fileLogLevel" value="Off"/>
    <add key="logFilePath" value="IotAgentLog1.log"/>
    <add key="ModuleClientDll" value="Agent.Core.Tests.dll"/>
    <add key="ModuleClientFullName" value="Microsoft.Azure.IoT.Agent.Core.Tests.Client.ModuleClientMock"/>
    <add key="defaultEventPriority" value="Low"/>
    <add key="diagnosticVerbosityLevel" value="All" />
  </General>
  <ExternalInterface configSource="TestExternalInterface.config" />
  <EventGenerators>
    <add Name="Microsoft.Azure.IoT.Agent.Core.Tests.FakeEvents.FakeOperationalEventGenerator" Dll="Agent.Core.Tests.dll"/>
    <add Name="Microsoft.Azure.IoT.Agent.Core.Tests.FakeEvents.FakeSnapshotEventGenerator" Dll="Agent.Core.Tests.dll"/>
    <add Name="Microsoft.Azure.IoT.Agent.Core.Tests.FakeEvents.FakeTriggeredEventGenerator" Dll="Agent.Core.Tests.dll"/>
  </EventGenerators>
</configuration>