<?xml version="1.0" encoding="utf-8"?>
<Authentication>
  <add key="moduleName" value="testmodule"/>
  <add key="deviceId" value="testdevice"/>
  <add key="gatewayHostname" value="test.gateway.net"/>
  <add key="filePath" value="/some/path"/>
  <add key="type" value="SymmetricKey" />                     <!-- SymmetricKey, SelfSignedCertificate-->
  <add key="identity" value="Module" />                 <!-- Device, Module, DPS -->
  <add key="certificateLocationKind" value="" />  <!-- LocalFile, Store -->
  <add key="idScope" value=""/>
  <add key="registrationId" value=""/>
</Authentication>