<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EventGenerators" type="Microsoft.Azure.IoT.Agent.Core.Configuration.ConfigurationSectionHandlers.EventGeneratorsConfigurationSection, Agent.Core"/>
    <section name="Authentication" type="System.Configuration.NameValueSectionHandler"/>
    <section name="General" type="System.Configuration.NameValueSectionHandler" />
    <section name="ExternalInterface" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Authentication configSource="Authentication.config" />
  <General configSource="Agent.Core.Tests.config"/>
  <ExternalInterface configSource="IotInterface.config" />
  <EventGenerators>
    <add Name="Agent.Core.Tests.FakeEvents.FakeOperationalEventGenerator" Dll="Tests.Common.dll"/>
    <add Name="Agent.Core.Tests.FakeEvents.FakeSnapshotEventGenerator" Dll="Tests.Common.dll"/>
    <add Name="Agent.Core.Tests.FakeEvents.FakeTriggeredEventGenerator" Dll="Tests.Common.dll"/>
  </EventGenerators>
</configuration>